
--link-color: #3373F7;
--hover-color: #97CCFF;
--body-text: #010D35;
--h-t-m-l--background: #FAFAFA;
--neutral-container-1: #FAF9F9;
--neutral-container-2: #EAE9E9;
--neutral-container-3: #D8D9D9;
--neutral-gray-outline-med: #BABBBB;
--neutral-gray-outline-dk: #7E7F7F;
--section-background: #D1E3E8;
--primary-color-header: #A3C2C9;
--header-dark: #8DA2A7;
--error-color: #9F2613;
--error-color-container: #FFEADB;
--accent-color: #FFC31B;
--accent-color-99: #FFF8B5;
--chips-tint-box: #ECF5F6;
--white: #FFFFFF;
--black: #000000; 
